@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './style.scss';
@import './colors.scss';

//General
.full-width{
    max-width: 100%;
}

.no-margin{
    margin: 0px;
}

.no-padding{
    padding: 0px;
}